name: Build

on:
  push:
  workflow_call:
  workflow_dispatch:

env:
  # Python Standalone Builds のリリースを指定する
  # ref: https://github.com/indygreg/python-build-standalone/releases
  PYTHON_TAG: '20251031'
  PYTHON_VERSION: '3.11.14'
  # Poetry のバージョン
  POETRY_VERSION: '1.8.5'

jobs:

  build-linux:
    strategy:
      fail-fast: false  # 一つのビルドが失敗しても他のビルドは継続する
      matrix:
        include:
          # x64 アーキテクチャ向けのビルド設定
          - arch: amd64
            runner: ubuntu-22.04
            artifact_suffix: ''
            # x86_64_v2 にすると2008年以降の CPU に搭載されている SSE 命令が使える
            # ref: https://gregoryszorc.com/docs/python-build-standalone/main/running.html
            python_arch_name: x86_64_v2
          # arm64 アーキテクチャ向けのビルド設定
          - arch: arm64
            runner: ubuntu-22.04-arm
            artifact_suffix: '-arm'
            python_arch_name: aarch64
    runs-on: ${{ matrix.runner }}
    steps:

      # Docker Buildx のセットアップ
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Dockerfile を作成
      # Python Standalone Builds を使用して Python 3.11 をインストールする
      - name: Create Dockerfile
        run: |
          cat <<EOF > Dockerfile
          FROM ubuntu:20.04
          ENV DEBIAN_FRONTEND=noninteractive
          # build-essential, curl, zlib, ca-certificates などの必要なパッケージをインストール
          RUN apt-get update && \
              apt-get install -y --no-install-recommends \
                build-essential \
                ca-certificates \
                curl \
                zlib1g \
                zlib1g-dev
          # Python Standalone Builds をダウンロードしてインストール
          RUN curl -L -o python.tar.gz https://github.com/indygreg/python-build-standalone/releases/download/${{ env.PYTHON_TAG }}/cpython-${{ env.PYTHON_VERSION }}+${{ env.PYTHON_TAG }}-${{ matrix.python_arch_name }}-unknown-linux-gnu-install_only_stripped.tar.gz && \
              tar xvf python.tar.gz && \
              cp -r python/* /usr/local/ && \
              rm -rf python python.tar.gz
          # poetry をインストール
          RUN python3.11 -m pip install poetry==${{ env.POETRY_VERSION }}
          EOF

      # Ubuntu 20.04 の Docker イメージをビルド
      - name: Build Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          tags: ubuntu:20.04-custom
          cache-from: type=gha,scope=ubuntu:20.04-custom(${{ matrix.arch }})
          cache-to: type=gha,scope=ubuntu:20.04-custom(${{ matrix.arch }}),mode=max
          load: true

      # Dockerfile を削除
      - name: Remove Dockerfile
        run: rm Dockerfile

      # ISDBScanner のソースコードをチェックアウト
      - name: Checkout Repository
        uses: actions/checkout@v4

      # ISDBScanner を PyInstaller でビルド
      # arm64 ビルドではリリースでの区別のため、ファイル名を isdb-scanner-arm に変更する
      - name: Build with PyInstaller
        run: |
          docker run --rm -i -v $(pwd):/work -w /work ubuntu:20.04-custom bash -c \
            'poetry install && poetry run pyinstaller --onefile --collect-submodules shellingham --name=isdb-scanner${{ matrix.artifact_suffix }} isdb_scanner/__main__.py'

      # 単一実行ファイルにビルドされたバイナリを Artifact としてアップロード
      - name: Upload Executable as Artifact
        uses: actions/upload-artifact@v4
        with:
          name: isdb-scanner${{ matrix.artifact_suffix }}
          path: dist/isdb-scanner${{ matrix.artifact_suffix }}

      # Wheel をビルド
      # ISDBScanner 自体は Pure Python パッケージなので、重複回避のため x64 版のみ実行
      - name: Build Wheel
        if: matrix.arch == 'amd64'
        run: |
          docker run --rm -i -v $(pwd):/work -w /work ubuntu:20.04-custom bash -c \
            'poetry build'

      # Wheel を Artifact としてアップロード
      # ISDBScanner 自体は Pure Python パッケージなので、重複回避のため x64 版のみ実行
      - name: Upload Wheel as Artifact
        if: matrix.arch == 'amd64'
        uses: actions/upload-artifact@v4
        with:
          name: isdb-scanner-wheel
          path: dist/isdb_scanner-*.whl

  # タグが push されたときのみ実行
  release:
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
    runs-on: ubuntu-22.04
    needs:
      - build-linux
    permissions:
      contents: write
    steps:

      # Artifact をダウンロード (x86_64)
      - name: Download Artifact (x86_64)
        uses: actions/download-artifact@v4
        with:
          name: isdb-scanner
          path: dist

      # Artifact をダウンロード (arm64)
      - name: Download Artifact (arm64)
        uses: actions/download-artifact@v4
        with:
          name: isdb-scanner-arm
          path: dist

      # Artifact をダウンロード (wheel)
      - name: Download Artifact (wheel)
        uses: actions/download-artifact@v4
        with:
          name: isdb-scanner-wheel
          path: dist

      # リリースを作成
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          files: |
            ./dist/isdb-scanner
            ./dist/isdb-scanner-arm
            ./dist/isdb_scanner-*.whl
